* {
    box-sizing: border-box; /*звездочка обращается ко всему файлу, чтобы блочная модель работала правильно, паддинги были вовнутрь*/
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.link {
    display: inline-flex;
    font-weight: 700px;
    font-size: 16px;
    line-height: 1;
    text-decoration-line: none;
    color: #D4D6D4;
    transition: color 0.3s ease-in-out;
}

.container {
    max-width: 1100px; /* максимальная ширина необходима для облегченной работы с адаптивом */
    padding: 0px 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header-container {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F5F6F7;
    border-radius: 100%;
    position: relative;
}

.burger-line,
.burger-line::before,
.burger-line::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -9px;
    height: 2px;
    width: 18px;
    background: #0e2431;
}

.burger-line::before,
.burger-line::after {
    content: '';
}
.burger-line::before {
    transform: translateY(5px);
}
.burger-line::after {
    transform: translateY(-5px);
}

.hero {
    padding-top: 189px;
    padding-bottom: 210px;
    min-height: 811px;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.site-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.hero-content {
    max-width: 616px;
    color: #fff;
}

.hero-subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
}

.hero-title {
    display: inline-block;
    margin: 0px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 60px;
    line-height: 74px;
}

.hero-descr {
    margin: 0px;
    margin-bottom: 45px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
}

.link svg {
    height: 12px;
    width: 12px;
    fill: currentColor;
    transform: translateY(2px);
}

.link span {
    border-bottom: 1px solid currentColor;
    text-indent: 6px;
}

.link:hover {
    color: #FFD723;
}

.hero-link {
    color: #FFD723;
}

.services {
    margin-bottom: -180px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
    max-width: 606px;
    margin: 0;
    margin-bottom: 60px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.services-subtitle {
    margin: 0;
    margin-bottom: 20px;
    max-width: 183px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.services-descr {
    margin: 0;
    margin-bottom: 56px;
    max-width: 196px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.services-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.services-link {
    margin-bottom: 0;
    margin-top: auto;
}

.get-started {
    position: relative;
    top: 180px;
    width: 88%;
    padding: 70px 0;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    background-color: #FAFAFA;
}

.get-started-title {
    max-width: 822px;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
}

.get-started-link {
    text-transform: uppercase;
}

.footer {
    color: #fff;
    padding-top: 300px;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 52px;
    border-bottom: 1px solid #5D6544;
}

.footer-contacts-item:not(:last-child) { /* у всех элементов, кроме последнего, отступ справа 128*/
    margin-right: 128px;
}

.footer-contacts-text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    margin-bottom: 8px;
}

.footer-contacts-value {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.footer-middle {
    --grid-gap: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    padding: 60px 0;
    border-bottom: 1px solid #5D6544;
}

.footer-column:last-child {
    position: relative;
}

.footer-column:last-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * (var(--grid-gap)) - 30px);
    background-color: #5D6544;
    width: 1px;
    height: 100%;

}

.footer-title {
    margin: 0;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    text-decoration: none;
}

.footer-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
    margin-bottom: 23px;
}

.footer-mail {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.social {
    display: flex;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 14px;
}

.social-link {
    display: block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-color: #444A34;
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;
}

.social-link:hover {
    background-color: #FFD723;
}

.social-link-fb {
    background-image: url('../img/icon:fb.svg');
}

.social-link-tw {
    background-image: url('../img/icon:tw.svg');
}

.social-link-g {
    background-image: url('../img/icon:g.svg');
}

.social-link-in {
    background-image: url('../img/icon:in.svg');
}

.copyrigth {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}