* {
    box-sizing: border-box; /*звездочка обращается ко всему файлу, чтобы блочная модель работала правильно, паддинги были вовнутрь*/
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1100px; /* максимальная ширина необходима для облегченной работы с адаптивом */
    padding: 0px 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.burger {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 14px 11px;
    background-color: #F5F6F7;
    border-radius: 100%;
}

.burger-line {
    
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color:black;
}

.hero {
    padding-top: 100px;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
